body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e; /* Dark background color */
}

.container {
    text-align: center;
}


.button {
    padding: 16px 32px;
    font-size: 18px;
    border: none;
    background-color: #fff;
    color: #0e0e0e; /* Dark text color */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#message {
    margin-top: 150px;
}

#image_block {
    margin-bottom: auto;
}
